.panel{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 1px 10px #aaa;
    border-radius: 10px;
    padding: 0 170px  60px;
    background-color: whitesmoke;

}

.container{
    display: flex;
    justify-content: center;
    margin: 50px 0 100px;

}

h5,h6{
    margin-bottom: 0;

}


.option-container{
    display: grid;
    gap:20px;
    grid-template-columns: max-content max-content;
    grid-template-rows: max-content max-content;
    margin: 40px auto 50px;  
}

.option{
    border: none;
    font-weight: 500;
    box-shadow: 0px 1px 10px #aaa;
    padding: 20px 60px;
    font-size: 15px;
    color: white;
    background-color: rgb(6, 73, 73) ;
    border-radius: 10px;  
}

.next {
    border: none;
    font-weight: 600;
    box-shadow: 0px 1px 10px #aaa;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 15px;
    color: white;
    background-color: #00A877 ;
    cursor: pointer;
}

.next:hover,
.again:hover{
  opacity: 0.7;
}

.option:hover {
  background-color: rgb(49,196,141);
}

.correct{
    background-color: green;
}

.incorrect {
    background-color: red;
}

.end {
    background-color: rgb(6, 73, 73);
    color: white;
    box-shadow: 0px 1px 10px #aaa;
    border-radius: 10px;
    padding: 0 170px  60px;
    display: none;
    flex-direction: column;
    align-items: center;

}

.again{
    border: none;
    color: rgb(6, 73, 73);
    margin-top: 40px;
    border-radius: 5px;
    padding: 10px ;
    cursor: pointer;
    font-weight: 600;
}